<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/styleProfile.css' />
    <link rel="stylesheet" href="/stylesheets/styleTopNavBar.css" />
    <script src="../javascripts/angular/profileController.js"> </script>
</head>
<body ng-app="profileApp" ng-controller="profileController" ng-init="init();">
	<% include partials/header.ejs %>
	<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff">
	    <div class="container-fluid">	
	        <!--Menu items -->
	        <div>
	            <ul class="nav navbar-nav">
	                <li class="active" ><a href="/home"id="Home"><img src="http://tracigregory.com/wp-content/uploads/2011/12/new-new-twitter-home.png" id="himg" class="nav navbar-nav">
	                        <h4 class ="nav navbar-nav" id="htext" >Home</h4></a> </li>
	            </ul>
	        </div>
	
	        <div class="col-sm-3 col-md-2 pull-center">
	            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" width = "25" height="30" id="icon" class="img-responsive" >
	        </div>
	
	        <!-- Profile Options -->
	        <div class="col-md3 pull-right ">
	            <div class=" pull-right ">
	                <ul  class="dropdown">
	                    <!--<ul class="dropdown">-->
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	                        <img src="https://cdn4.iconfinder.com/data/icons/twitter-ui-set/128/Egg_Proffile_And_Settings_Twitter-128.png" id="profIcon" width="45" height="45"></img>
	                        <!--<span class="caret"></span>--> </a>
	                    <div class="dropdown-menu">
	                    <li><a href="/logout">Logout</a></li>
	                    </div>
	                </ul>
	            </div></div>
	    </div>
	</nav>
	<div>
		<div class = "backgroundImage">
		</div>
		<div  ng-show="showFlag == true">
		<div class="navBarPF">
		   <ul>
		        <li><a href="#" ng-click="getTweetsList()"><span class="letters">tweets</span><div></div><span id="count1">{{totalTweets}}</span></a></li>
		        <li><a href="#" ng-click="getFollowingList()"><span class="letters">following</span><div></div><span id="count2">{{totalFollowing}}</span></a></li>
		        <li><a href="#" ng-click="getFollowersList()"><span class="letters">followers</span><div></div><span id="count3">{{totalFollowers}}</span></a></li>     
		    </ul>
		    <div class="col-sm-6 col-offset-3">
		    	<button type="button" class="btn btn-default pull-right" ng-show="now == false" ng-click="edit();">Edit Profile</button>
		    	<button type="button" class="btn btn-default pull-right" ng-show="now == true" ng-click="save();">Save Changes</button>
		    </div>
		</div>
		<div>
		    <div id = "ProfilePicWindow"></div>
		    <div id = "insideProfilePicWindow">
		    </div>
		    <div class="col-sm-2 col-offset-1" style="margin-top:-165px;" ng-show="show == true">
		    	<div><input type="text" id="name" name="name" ng-model="name" value="{{name}}"/></div>
	        	<div><input type="text" id="userHandler" name="userHandler" ng-model="userHandler" value="{{userHandler}}"/></div>
	        	<div><input type="text" id="birthDate" name="birthDate" ng-model="birthDate" value="{{birthDate}}"/></div>
	        	<div><input type="text" id="location" name="location" ng-model="location" value="{{location}}"/></div>
		    </div>
		    <div class="col-sm-3 col-offset-1" style="margin-top:-165px;" ng-show="show == false">
		    	<label class="col-sm-8 col-offset-2"><a href="/profile" style="color: #000000;">{{name}}</a></label><br/>
	        	<label class="col-sm-6 col-offset-0"><a href="/profile">{{userHandler}}</a></label>
	        	<div class="col-sm-10 col-offset-0"><label>Date Of Birth:</label>{{birthDate}}</div>
	        	<div class="col-sm-7 col-offset-0"><label>Location:</label>{{location}}</div>
		    </div>
		</div> 
		<div ng-hide="tweets" class="container col-sm-7 col-sm-offset-2" style="margin-top:-160px;">
			<div ng-repeat="tweet in tweetList">
				<div ng-repeat="user in tweet.userDetails">
			        <div class="panel panel-default">
			            <div class="panel-heading"><strong>{{user.firstName}} {{user.lastName}}</strong>@{{user.userHandler}}</div>
			            <div class="panel-body">
			                <p>{{tweet.tweetMessage}}</p>
			            </div>
			        </div>
		        </div>
	    	</div>
    	</div>
		<div ng-hide="following" class="container col-sm-8 col-sm-offset-2" style="float:left;margin-top:-160px;">
		    <div class="col-sm-4" style="float: left;" ng-repeat="following in followingList">
		        <div class="panel panel-primary">
		            <div class="panel-body" style="height:200px">
		                <div></div>
		                <div id="brow">
			              <div id = "picWindow"></div>
			              <div id = "insidePicWindow"></div>
			            </div>
			            <div style="margin-top:20px;">
			                <span style="color: #292f33; font-weight: 700; font-size: 18px;">{{following.userDetails.firstName}} {{following.userDetails.lastName}}</span>
			                <div></div>
			                <span>{{following.userDetails.userHandler}}</span>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div ng-hide="followers" class="container col-sm-8 col-sm-offset-2" style="float:left;margin-top:-160px;">
		    <div class="col-sm-4" style="float: left;" ng-repeat="follower in followersList">
		        <div class="panel panel-primary">
		            <div class="panel-body" style="height:200px">
			            <div id="brow">
			              <div id = "picWindow"></div>
			              <div id = "insidePicWindow"></div>
			            </div>
			            <div style="margin-top:20px;">
			                <span style="color: #292f33; font-weight: 700; font-size: 18px; ">{{follower.userDetails.firstName}} {{follower.userDetails.lastName}}</span>
			                <div></div>
			                <span>@{{follower.userDetails.userHandler}}</span>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div> 
<% include partials/footer.ejs %>
<% include partials/jsDefaults.ejs %>
</body>
</html>