.backgroundImage{
    background-color:#0084B4 !important;
    height:175px;
    margin-right:-65px;
    margin-left:-65px;
    margin-top: 55px;
}
.navBarPF {
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    margin-right:-67px;
    margin-left:-67px;
}
.navBarPF ul{
    margin-left: 320px;
}
.navBarPF ul li{float: left;}
.navBarPF ul li a{
    height: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 0 solid;
    display: block;
    line-height: 2;
    padding: 14px 15px 7px;
    transition: all .15s ease-in-out;
    display: inline;
    font-size: 12px;
    text-decoration:none;
}
.navBarPF ul li:hover{
    border-bottom : 4px solid #0084B4;
}
.navBarPF ul li a span.letters{
    font-size: 11px;
    letter-spacing: .02em;
    text-transform: uppercase;
    transition: color .15s ease-in-out;
}
.navBarPF ul li a span#count1{
    font-size: 18px;
    padding-top: 3px;
    font-weight: 500;
    transition: color .15s ease-in-out;
    margin-left:30px;

}
.navBarPF ul li a span#count2{
    font-size: 18px;
    padding-top: 3px;
    font-weight: 500;
    transition: color .15s ease-in-out;
    margin-left:40px;

}
.navBarPF ul li a span#count3{
    font-size: 18px;
    padding-top: 3px;
    font-weight: 500;
    transition: color .15s ease-in-out;
    margin-left:39px;

}
.notify {
    background: #FFFFFF;
    width:100%;
    position: relative; 
    margin: 0 auto 0 auto;
    padding: 2px 0px 0px 0px;   
    box-shadow: 0px 4px 5px #AAAAAA;
}
#heading{
	font-size: 26px;
    padding-top: 60px;
    font-weight: 800;
    color: white;
}